<h1>
  The Italian Peninsula: 1859 - 1918
</h1>

<hr>

<!-- First row maps. -->
<div class="row">
  <div class="col-lg-4">
    <div id="1859" style="height: 350px; width: 100%;"></div>
  </div>
  <div class="col-lg-4">
    <div id="1860" style="height: 350px; width: 100%;"></div>
  </div>
  <div class="col-lg-4">
    <div id="1861" style="height: 350px; width: 100%;"></div>
  </div>
</div>

<!-- First row titles. -->
<div class="row">
  <div class="col-lg-4 text-center">
    <h2>
      1859
    </h2>
  </div>
  <div class="col-lg-4 text-center">
    <h2>
      1860
    </h2>
  </div>
  <div class="col-lg-4 text-center">
    <h2>
      1861
    </h2>
  </div>
</div>

<!-- Second row maps. -->
<div class="row">
  <div class="col-lg-4">
    <div id="1866" style="height: 350px; width: 100%;"></div>
  </div>
  <div class="col-lg-4">
    <div id="1870" style="height: 350px; width: 100%;"></div>
  </div>
  <div class="col-lg-4">
    <div id="1918" style="height: 350px; width: 100%;"></div>
  </div>
</div>

<!-- Second row titles. -->
<div class="row">
  <div class="col-lg-4 text-center">
    <h2>
      1866
    </h2>
  </div>
  <div class="col-lg-4 text-center">
    <h2>
      1870
    </h2>
  </div>
  <div class="col-lg-4 text-center">
    <h2>
      1918
    </h2>
  </div>
</div>

<!-- Leaflet scripts. -->
<%= render 'map_sync' %>
<%= render 'map_1859' %>
<%= render 'map_1860' %>
<%= render 'map_1861' %>
<%= render 'map_1866' %>
<%= render 'map_1870' %>
<%= render 'map_1918' %>

<hr>